@model IEnumerable<Vishop.Models.Movie>

@{
    ViewBag.Title = "AllMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All movies</h2>

@if(!Model.Any())
{
    <text>No movies yet.</text>
} else
{
    @Html.ActionLink("Add movie","New","Movie",new { },new { @class="btn btn-primary"})
    <table class="table table-striped table-­bordered table‐hover">
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movie", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
            </tbody>
        </table>
}