@model Vishop.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.name</h2>


    <ul>
@if(Model.birthdate != null)
{
    <li> Birtdate: @String.Format("{0:M/d/yyyy}", Model.birthdate);</li>

}
@if(Model.membershipType != null)
{
    <li>Membership type:  @Model.membershipType.name</li>
}
    </ul>
